@font-face {
	font-family:Newyork-Bold;
	src:url(../../fonts/NewYorkLarge-Bold.otf);
}
@font-face {
	font-family:Newyork-Semibold;
	src:url(../../fonts/NewYorkLarge-Semibold.otf);
}
@font-face {
	font-family:OpenSans-Regular;
	src:url(../../fonts/OpenSans-Regular.ttf);
}
@font-face {
	font-family:OpenSans-Bold;
	src:url(../../fonts/OpenSans-Bold.ttf);
}
body, html, *
{
	padding: 0px;
	margin: 0px;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
body, html {
	width: 100%;
	height: 100%;
}
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, i
{
	font-weight: normal;
	font-style: normal;
}
body.block
{
	overflow:hidden;
}

/* ------------------------------------------------------------- */
/* ********************* CONTAINER GENERAL ********************* */
/* ------------------------------------------------------------- */

main
{
	position: relative;
	width: 100%;
	overflow:hidden;
}

/* ----------------------------------------------------------------- */
/* ********************* END CONTAINER GENERAL ********************* */
/* ----------------------------------------------------------------- */


/* ----------------------------------------------------- */
/* ********************* VARIABLES ********************* */
/* ----------------------------------------------------- */

/*==============================
=            COLORS            =
==============================*/

	/*----------  MAIN COLORS  ----------*/
	$colorMain_1: #1A2238;
	$colorMain_2: #032FFF;
	


/*=====  End of COLORS  ======*/


/*=============================
=            FONTS            =
=============================*/

	$font_1_bold: Newyork-Bold;
	$font_1_semibold: Newyork-Semibold;
	$font_2_regular: OpenSans-Regular;
	$font_2_bold: OpenSans-Bold;

/*=====  End of FONTS  ======*/


/*=================================
=            TEXT SIZE            =
=================================*/

	/*----------  H1  ----------*/
		/*----------  DESKTOP  ----------*/
		$h1_textsize_desktop: 52px;
		$h1_lineheight_desktop: 66px;


	/*----------  H2  ----------*/
		/*----------  DESKTOP  ----------*/
		$h2_textsize_desktop: 42px;
		$h2_lineheight_desktop: 52px;


	/*----------  H3  ----------*/
		/*----------  DESKTOP  ----------*/
		$h3_textsize_desktop: 38px;
		$h3_lineheight_desktop: 48px;


	/*----------  PARAGRAPH MEDIUM  ----------*/
		/*----------  DESKTOP  ----------*/
		$paragraphMedium_textsize_desktop: 16px;
		$paragraphMedium_lineheight_desktop: 24px;


	/*----------  BUTTON  ----------*/
		/*----------  DESKTOP  ----------*/
		$button_textsize_desktop: 16px;
		$button_lineheight_desktop: 26px;


/*=====  End of TEXT SIZE  ======*/


/*============================
=            GRID            =
============================*/

	$grid_desktop_1: 1200px;
	$grid_desktop_2: 1100px;
	$grid_desktop_3: 1000px;
	$grid_desktop_4: 900px;

	$grid_tablet: 100%;
	$grid_mobile: 100%;

/*=====  End of GRID  ======*/


/*===================================
=            BREAK POINT            =
===================================*/

	$breakPoint_tablet: 1250px;
	$breakPoint_mobile: 700px;


/*=====  End of BREAK POINT  ======*/

/* --------------------------------------------------------- */
/* ********************* END VARIABLES ********************* */
/* --------------------------------------------------------- */

/* ------------------------------------------------- */
/* ********************* MIXIN ********************* */
/* ------------------------------------------------- */

	/*----------  FUNCTION  ----------*/
	/*
	@mixin rgba-background($hexcolor, $opacity) {
	  background-color: rgba($hexcolor, $opacity); 
	}*/

	/*----------  HEADING  ----------*/

		/*----------  H1  ----------*/
		@mixin styleH1{
			font-family: $font_1_bold;
		  	color: $colorMain_1;
			font-size: $h1_textsize_desktop;
			line-height: $h1_lineheight_desktop;
		}

		/*----------  H2  ----------*/
		@mixin styleH2{
			font-family: $font_1_semibold;
		  	color: $colorMain_1;
			font-size: $h2_textsize_desktop;
			line-height: $h2_lineheight_desktop;
		}

		/*----------  H3  ----------*/
		@mixin styleH3{
			font-family: $font_1_semibold;
		  	color: $colorMain_1;
			font-size: $h3_textsize_desktop;
			line-height: $h3_lineheight_desktop;
		}


		/*----------  PARAGRAPH MEDIUM  ----------*/
		@mixin styleParagraphMedium{
			font-family: $font_2_regular;
		  	color: $colorMain_1;
			font-size: $paragraphMedium_textsize_desktop;
			line-height: $paragraphMedium_lineheight_desktop;
		}


		/*----------  BUTTON  ----------*/
		@mixin styleButton_common{
			text-decoration: none;
			cursor: pointer;
			border: none;
		  	padding: 23px 30px 23px 30px;
		  	border-radius: 6px;
		  	background-color: $colorMain_2;
		  	transition: all 0.25s ease;
			.btn-text{
				font-family: $font_2_bold;
				font-size: $button_textsize_desktop;
				line-height: $button_lineheight_desktop;
				color: #FFF;
			}
			&:hover{
				opacity: 0.8;
			}
		}

		@mixin styleButton_1{
			@include styleButton_common;
		  	background-color: $colorMain_2;
			.btn-text{
				color: #FFF;
			}
		}
		@mixin styleButton_2{
			@include styleButton_common;
		  	background-color: #FFF;
			.btn-text{
				color: $colorMain_1;
			}
		}


		/*----------  GRID  ----------*/

			/*----------  COMMON  ----------*/
			@mixin styleGrid-common{
				margin-right: auto;
				margin-left: auto;
				@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){
					width: $grid_tablet;
					padding-right: 50px;
					padding-left: 50px;
				}
				@media screen and (max-width: $breakPoint_mobile){
					width: $grid_mobile;
					padding-right: 25px;
					padding-left: 25px;
				}
			}

			/*----------  SIZE 1  ----------*/
			@mixin styleGrid1{
				@include styleGrid-common;
				@media screen and (min-width: $breakPoint_tablet){
					width: $grid_desktop_1;
				}
			}

			/*----------  SIZE 2  ----------*/
			@mixin styleGrid2{
				@include styleGrid-common;
				@media screen and (min-width: $breakPoint_tablet){
					width: $grid_desktop_2;
				}
			}

			/*----------  SIZE 3  ----------*/
			@mixin styleGrid3{
				@include styleGrid-common;
				@media screen and (min-width: $breakPoint_tablet){
					width: $grid_desktop_3;
				}
			}

			/*----------  SIZE 4  ----------*/
			@mixin styleGrid4{
				@include styleGrid-common;
				@media screen and (min-width: $breakPoint_tablet){
					width: $grid_desktop_4;
				}
			}



/* ----------------------------------------------------- */
/* ********************* END MIXIN ********************* */
/* ----------------------------------------------------- */